1. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát arról, hogy ügyfelenként (LOGIN), azon belül szállítási módonként hány megrendelés történt!&nbsp;</span> 

a. A lista tartalmazza a részösszegeket és a végösszeget is!  
b. Használjuk a ROLLUP záradékot!

In [2]:
SELECT LOGIN,
szall_mod,
count(*)
FROM rendeles
GROUP BY ROLLUP (LOGIN, szall_mod)
GROUP BY CUBE(LOGIN, szall_mod)

: Msg 156, Level 15, State 1, Line 6
Incorrect syntax near the keyword 'GROUP'.

2. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát a termékek számáról a következő csoportosítási szempontok szerint:<br>kategória azonosító, raktárkód, raktárkód+mennyiségi egység!</span>

a. A listát szűrjük azokra a csoportokra, ahol a termékek száma legalább 6!

In [3]:
SELECT KAT_ID,
        RAKTAR_KOD,
        MEGYS,
        count(*)
From Termek
Group BY Grouping SETs(KAT_ID, RAKTAR_KOD, (RAKTAR_KOD, MEGYS))
having count(*)>=6

KAT_ID,RAKTAR_KOD,MEGYS,(No column name)
NULL,1,db,11
NULL,1,NULL,11
NULL,3,db,14
NULL,3,NULL,14
NULL,5,csomag,7
NULL,5,db,72
NULL,5,NULL,86
NULL,6,csomag,9
NULL,6,db,94
NULL,6,NULL,106
NULL,7,csomag,9
NULL,7,db,88
NULL,7,NULL,100
NULL,8,csomag,8
NULL,8,db,109
NULL,8,ív,6
NULL,8,NULL,123
NULL,9,csomag,11
NULL,9,db,86
NULL,9,NULL,102
4,NULL,NULL,15
6,NULL,NULL,20
16,NULL,NULL,7
19,NULL,NULL,19
24,NULL,NULL,7
30,NULL,NULL,7
35,NULL,NULL,7
41,NULL,NULL,13
45,NULL,NULL,11
46,NULL,NULL,7
52,NULL,NULL,26
54,NULL,NULL,6
66,NULL,NULL,7
78,NULL,NULL,24
83,NULL,NULL,6
85,NULL,NULL,16
91,NULL,NULL,7
93,NULL,NULL,7
96,NULL,NULL,9
97,NULL,NULL,10
100,NULL,NULL,9
118,NULL,NULL,9
122,NULL,NULL,7
124,NULL,NULL,10
133,NULL,NULL,6
145,NULL,NULL,18
146,NULL,NULL,7
149,NULL,NULL,6
152,NULL,NULL,6

```
3. Készítsünk listát az egyes termékkategóriákban lévő termékek számáról! 

```

a. Elég megjeleníteni a kategóriák azonosítóit és a darabszámokat!   
<span style="color: var(--vscode-foreground);">b. A lista megfelelően jelölve tartalmazza a végösszeget is!&nbsp;<br></span> <span style="color: var(--vscode-foreground);">c. Az oszlopokat nevezzük el értelemszerűen!&nbsp;<br></span> <span style="color: var(--vscode-foreground);">d. A listát rendezzük a darabszám szerint növekvő sorrendbe!</span>

  

![](https://moodle.uni-corvinus.hu/theme/image.php/adaptable/atto_h5p/1709548862/icon)

In [6]:
SELECT KAT_ID,
IIF(GROUPING_ID(KAT_ID)=1, 'végösszesg',CAST( Kat_id AS VARCHAR(10))),
 count(*) As 'DB'
FROM Termek
group by cube(kat_id)
order by count(*)

KAT_ID,(No column name),DB
10,10,1
11,11,1
12,12,1
15,15,1
17,17,1
26,26,1
29,29,1
31,31,1
33,33,1
34,34,1
37,37,1
38,38,1
40,40,1
42,42,1
44,44,1
50,50,1
53,53,1
61,61,1
74,74,1
80,80,1
82,82,1
84,84,1
86,86,1
99,99,1
101,101,1
103,103,1
105,105,1
107,107,1
108,108,1
109,109,1
114,114,1
115,115,1
126,126,1
130,130,1
131,131,1
132,132,1
135,135,1
139,139,1
140,140,1
142,142,1
147,147,1
148,148,1
153,153,1
155,155,1
150,150,2
144,144,2
141,141,2
136,136,2
123,123,2
134,134,2
127,127,2
128,128,2
129,129,2
116,116,2
117,117,2
112,112,2
121,121,2
110,110,2
104,104,2
94,94,2
95,95,2
88,88,2
90,90,2
92,92,2
71,71,2
72,72,2
73,73,2
75,75,2
62,62,2
55,55,2
65,65,2
67,67,2
68,68,2
57,57,2
48,48,2
49,49,2
39,39,2
22,22,2
18,18,2
9,9,2
13,13,2
5,5,3
7,7,3
8,8,3
20,20,3
27,27,3
32,32,3
43,43,3
58,58,3
51,51,3
70,70,3
89,89,3
111,111,3
119,119,3
137,137,3
143,143,3
151,151,4
154,154,4
125,125,4
79,79,4
98,98,4
56,56,4
64,64,4
59,59,4
47,47,4
25,25,4
14,14,4
21,21,5
36,36,5
28,28,5
60,60,5
76,76,5
106,106,5
138,138,5
133,133,6
152,152,6
149,149,6
83,83,6
54,54,6
46,46,7
66,66,7
24,24,7
30,30,7
35,35,7
16,16,7
146,146,7
122,122,7
93,93,7
91,91,7
100,100,9
96,96,9
118,118,9
97,97,10
124,124,10
45,45,11
41,41,13
4,4,15
85,85,16
145,145,18
19,19,19
6,6,20
78,78,24
52,52,26
NULL,végösszesg,551

4. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát az ügyfelek számáról születési év szerint, azon belül nem szerinti bontásban!&nbsp;</span> 

a. A lista megfelelően jelölve tartalmazza a részösszegeket és a végösszeget is!  
b. Az oszlopoknak adjunk nevet értelemszerűen!

In [2]:
SELECT IIF(GROUPING_ID(szulev)=1,'Végösszeg', cast(szulev as nvarchar(4))),
       Case WHEN GROUPING_ID(szulev, nem)=1 THEN 'Részösszeg'
       When GROUPING_ID(szulev, nem)=3 Then 'végösszeg'
       ELSE nem END,
       COUNT(*)
From Ugyfel
GROUP BY Rollup(SZULEV, nem)

(No column name),(No column name),(No column name)
1967,F,5
1967,N,3
1967,Részösszeg,8
1968,F,5
1968,N,3
1968,Részösszeg,8
1969,F,5
1969,N,3
1969,Részösszeg,8
1970,F,4
1970,Részösszeg,4
1971,F,2
1971,N,3
1971,Részösszeg,5
1972,F,2
1972,N,2
1972,Részösszeg,4
1973,F,2
1973,N,2
1973,Részösszeg,4
1974,F,1
1974,N,3
1974,Részösszeg,4
1975,F,8
1975,N,3
1975,Részösszeg,11
1976,F,5
1976,N,2
1976,Részösszeg,7
1977,F,4
1977,N,1
1977,Részösszeg,5
1978,F,3
1978,N,4
1978,Részösszeg,7
1979,F,4
1979,N,3
1979,Részösszeg,7
1980,F,4
1980,N,3
1980,Részösszeg,7
1981,N,4
1981,Részösszeg,4
1982,F,2
1982,N,2
1982,Részösszeg,4
1983,F,5
1983,N,3
1983,Részösszeg,8
1984,F,6
1984,N,2
1984,Részösszeg,8
1985,F,5
1985,N,1
1985,Részösszeg,6
1986,F,7
1986,N,2
1986,Részösszeg,9
1987,F,2
1987,N,3
1987,Részösszeg,5
1988,F,2
1988,N,4
1988,Részösszeg,6
1989,F,6
1989,N,1
1989,Részösszeg,7
1990,F,5
1990,N,3
1990,Részösszeg,8
1991,F,3
1991,N,3
1991,Részösszeg,6
1992,F,3
1992,N,1
1992,Részösszeg,4
1993,F,2
1993,N,3
1993,Részösszeg,5
1994,N,3
1994,Részösszeg,3
1995,F,3
1995,N,3
1995,Részösszeg,6
1996,F,2
1996,N,5
1996,Részösszeg,7
1997,F,10
1997,N,2
1997,Részösszeg,12
1998,F,1
1998,N,1
1998,Részösszeg,2
2000,F,1
2000,Részösszeg,1
Végösszeg,végösszeg,200

5. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát a termékek számáról a felvitel hónapja, azon belül napja szerint csoportosítva.&nbsp;</span> 

a. A lista csak a részösszegeket és a végösszeget tartalmazza!  
b. Az oszlopoknak adjunk megfelelő nevet!  
c. Ötlet: HAVING + GROUPING\_ID fv együttes használata

In [8]:
SELECT IIf(grouping_id(month(felvitel))=1,'Végösszeg', cast(month(felvitel) as nvarchar(4))),
Case
WHEN GROUPING_ID(month(felvitel),day(FELVITEL))=1 THEN 'Részösszeg'
WHEN GROUPING_ID(month(felvitel),day(FELVITEL))=3 THEN 'Végösszeg'
ELSE cast(day(felvitel) as nvarchar(2))
END,
 count(*)
FROM Termek
GROUP by rollup(month(felvitel),day(FELVITEL))
Having GROUPING_ID(month(felvitel),day(FELVITEL))=1 or GROUPING_ID(month(felvitel),day(FELVITEL))=3 or GROUPING_ID(month(felvitel))=1

(No column name),(No column name),(No column name)
7,Részösszeg,355
8,Részösszeg,194
9,Részösszeg,1
12,Részösszeg,1
Végösszeg,Végösszeg,551