1. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát arról, hogy ügyfelenként (LOGIN), azon belül szállítási módonként hány megrendelés történt!&nbsp;</span> 

a. A lista tartalmazza a részösszegeket és a végösszeget is!  
b. Használjuk a ROLLUP záradékot!

In [2]:
SELECT LOGIN,
szall_mod,
count(*)
FROM rendeles
GROUP BY ROLLUP (LOGIN, szall_mod)
GROUP BY CUBE(LOGIN, szall_mod)

: Msg 156, Level 15, State 1, Line 6
Incorrect syntax near the keyword 'GROUP'.

2. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát a termékek számáról a következő csoportosítási szempontok szerint:<br>kategória azonosító, raktárkód, raktárkód+mennyiségi egység!</span>

a. A listát szűrjük azokra a csoportokra, ahol a termékek száma legalább 6!

In [3]:
SELECT KAT_ID,
        RAKTAR_KOD,
        MEGYS,
        count(*)
From Termek
Group BY Grouping SETs(KAT_ID, RAKTAR_KOD, (RAKTAR_KOD, MEGYS))
having count(*)>=6

KAT_ID,RAKTAR_KOD,MEGYS,(No column name)
NULL,1,db,11
NULL,1,NULL,11
NULL,3,db,14
NULL,3,NULL,14
NULL,5,csomag,7
NULL,5,db,72
NULL,5,NULL,86
NULL,6,csomag,9
NULL,6,db,94
NULL,6,NULL,106
NULL,7,csomag,9
NULL,7,db,88
NULL,7,NULL,100
NULL,8,csomag,8
NULL,8,db,109
NULL,8,ív,6
NULL,8,NULL,123
NULL,9,csomag,11
NULL,9,db,86
NULL,9,NULL,102
4,NULL,NULL,15
6,NULL,NULL,20
16,NULL,NULL,7
19,NULL,NULL,19
24,NULL,NULL,7
30,NULL,NULL,7
35,NULL,NULL,7
41,NULL,NULL,13
45,NULL,NULL,11
46,NULL,NULL,7
52,NULL,NULL,26
54,NULL,NULL,6
66,NULL,NULL,7
78,NULL,NULL,24
83,NULL,NULL,6
85,NULL,NULL,16
91,NULL,NULL,7
93,NULL,NULL,7
96,NULL,NULL,9
97,NULL,NULL,10
100,NULL,NULL,9
118,NULL,NULL,9
122,NULL,NULL,7
124,NULL,NULL,10
133,NULL,NULL,6
145,NULL,NULL,18
146,NULL,NULL,7
149,NULL,NULL,6
152,NULL,NULL,6

```
3. Készítsünk listát az egyes termékkategóriákban lévő termékek számáról! 

```

a. Elég megjeleníteni a kategóriák azonosítóit és a darabszámokat!   
<span style="color: var(--vscode-foreground);">b. A lista megfelelően jelölve tartalmazza a végösszeget is!&nbsp;<br></span> <span style="color: var(--vscode-foreground);">c. Az oszlopokat nevezzük el értelemszerűen!&nbsp;<br></span> <span style="color: var(--vscode-foreground);">d. A listát rendezzük a darabszám szerint növekvő sorrendbe!</span>

  

![](https://moodle.uni-corvinus.hu/theme/image.php/adaptable/atto_h5p/1709548862/icon)

In [4]:
SELECT KAT_ID, count(*) As 'DB'
FROM Termek
group by cube(kat_id)
order by count(*)

KAT_ID,DB
10,1
11,1
12,1
15,1
17,1
26,1
29,1
31,1
33,1
34,1
37,1
38,1
40,1
42,1
44,1
50,1
53,1
61,1
74,1
80,1
82,1
84,1
86,1
99,1
101,1
103,1
105,1
107,1
108,1
109,1
114,1
115,1
126,1
130,1
131,1
132,1
135,1
139,1
140,1
142,1
147,1
148,1
153,1
155,1
150,2
144,2
141,2
136,2
123,2
134,2
127,2
128,2
129,2
116,2
117,2
112,2
121,2
110,2
104,2
94,2
95,2
88,2
90,2
92,2
71,2
72,2
73,2
75,2
62,2
55,2
65,2
67,2
68,2
57,2
48,2
49,2
39,2
22,2
18,2
9,2
13,2
5,3
7,3
8,3
20,3
27,3
32,3
43,3
58,3
51,3
70,3
89,3
111,3
119,3
137,3
143,3
151,4
154,4
125,4
79,4
98,4
56,4
64,4
59,4
47,4
25,4
14,4
21,5
36,5
28,5
60,5
76,5
106,5
138,5
133,6
152,6
149,6
83,6
54,6
46,7
66,7
24,7
30,7
35,7
16,7
146,7
122,7
93,7
91,7
100,9
96,9
118,9
97,10
124,10
45,11
41,13
4,15
85,16
145,18
19,19
6,20
78,24
52,26
NULL,551

4. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát az ügyfelek számáról születési év szerint, azon belül nem szerinti bontásban!&nbsp;</span> 

a. A lista megfelelően jelölve tartalmazza a részösszegeket és a végösszeget is!  
b. Az oszlopoknak adjunk nevet értelemszerűen!

5. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát a termékek számáról a felvitel hónapja, azon belül napja szerint csoportosítva.&nbsp;</span> 

a. A lista csak a részösszegeket és a végösszeget tartalmazza!  
b. Az oszlopoknak adjunk megfelelő nevet!  
c. Ötlet: HAVING + GROUPING\_ID fv együttes használata